:root{
    --primary-color: #F2E2DF;
    --secondary-color: #8C7D77;
    --primary-font-color: #747474;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    /* color: #747474; */
}

.container-full{
    width: 100%;
    height: 100vh;
    /* display: grid;
    grid-template-rows: 90px 3fr 90px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.header{
    background-color: var(--primary-color);
    padding: 20px 0;
    box-shadow: var(--primary-color) 0px 0px 8px;
    /* height: 95px; */
}

.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding: 0 20px;

}

.info p {
    font-size: 12px;
}
.social{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link-items{
    display: flex;
    /* gap: 5px; */
    margin-top: 10px;
}

.nav-link-item{
    list-style: none;
    text-transform: uppercase;
    padding: 3px 20px;
    border-radius: 50px;
    font-size: 12px;
    transition: background-color .3s ease-out, color .3s ease-out;
    cursor: pointer;
    color: var(--primary-font-color);
}

.nav-link-item:hover{
    background-color:var(--secondary-color);
    color: white;
}

.nav-link-item.active{
    background-color:var(--secondary-color);
    color: white;
}

.nav-down{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color:var(--secondary-color);
    color: white;
    margin-right: 20px;
    position: relative;
    /* border-radius: 20px 20px 0 0; */
    /* overflow: hidden; */
}

.nav-down:hover{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color:var(--secondary-color);
    color: white;
    margin-right: 20px;
    position: relative;
    border-radius: 15px 15px 0 0;
    
}

.nav-down i {
    color: white;
    transition: transform .3s ease-out;

}

.nav-down:hover .nav-down-icon {
    transform: rotate(-180deg);
}

.sub-items{
    position: absolute;
    padding: 10px;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    transition: transform .3s ease-out, opacity .3s ease-out, visibility .3s ease-out;
    transform: translateY(-10%);
    opacity: 0;
    visibility: hidden;
}

.nav-down:hover .sub-items{
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
}

.sub-item{
    list-style: none;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-item:nth-child(2n){
    border-top: 2px solid #F3F3F3;
    border-bottom: 2px solid #F3F3F3;
}

.sub-items{
    color:var(--secondary-color);
}

.sub-items i {
    color:var(--secondary-color);
    text-align: end;
}

/* End header */

/* Start Banner */
.banner{
    display: flex;
    height: calc(100vh - 124px - 48px);
    width: 100%;
    background-color: #FAF2F0;

}

.banner-image{
    width: 60%;
}

.banner-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-contact{
    width: 40%;
    padding: 60px;
    background-image: url('./images/bg_water.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 60%;
    background-position-x: 150%;
}

.banner-contact h1 {
    font-size: 62px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--primary-font-color);
}

.banner-contact h1 span {
    color: #DAC6BF ;
}

.banner-contact-btn{
    padding: 3px 10px;
    margin-top: 30px;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    text-transform:capitalize;
    color: var(--secondary-color);
    background: transparent;
   
}

.banner-contact-btn .contact-icon{
    margin-left: 5px;
}

/* End Banner */

/* Start Footer */

footer{
    /* height: 10%; */
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer-left{
    display:flex;
    gap: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.footer-left-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-left i {
    font-size: 20px;
    margin-right: 5px;
}

.footer-left span {
    color: var(--primary-font-color);
}

.footer-center{
    font-size: 12px;
    text-transform: capitalize;
    color: var(--secondary-color)
}

.footer-right{
    text-transform: capitalize;
    text-align: end;
    font-size: 12px;
    color: var(--secondary-color)
}

.footer-right span{
    text-transform: uppercase;
}

/* Banner 2 */
.container-full-2{
    width: 100%;
    /* height: 100vh; */
    display: grid;
    grid-template-rows: 1fr auto;
    background: rgb(140,125,119);
    background: linear-gradient(180deg, rgba(140,125,119,1) 0%, rgba(216,173,157,1) 100%);
    overflow: hidden;
}

.banner-2{
    display: flex;
    /* grid-template-columns: 1fr 2fr; */
    height: calc(100vh - 60px);
    width: 100%;
    align-items: center;
}


.banner-left-2{
    /* background-image: url('./images/bg_water_2.svg');
    background-repeat: no-repeat;
    background-position-x: 140%;
    background-size: cover; */
    height: 80%;

}

.banner-left-2 img{
    height: 100%;
    transform: translateX(-16vw);
}

.banner-right-2{
    justify-self: center;
    width: inherit;

}

.banner-right-2 .width-r{
    transform: translate(-16vw, -50%);
    width: calc(100vw - 29vw );
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
}

.logo-2{
    color: #FFFFFF;
    font-size: 62px;
    text-transform: uppercase;
}

.banner-title{
    font-size: 62px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 25px 0;
      text-shadow: 0 0 3px #707070, 0 0 5px #707070;
}

.banner-title span{
    color: #F2E2DF; 
  
}

.banner-social{
    display: flex;
    gap: 20px;
}
.banner-social-icon-2{
    color: #F1E2DF;
    font-size: 18px;
}

.footer-2{
    border-top: 2px solid #DAC6BF;
   
}

.container-2{
    padding: 20px 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.container-2 p {
    color: #FFFFFF;
}

.container-2 p span{
    color: #FFFFFF;
    text-transform: uppercase;
}

.info img{
    height: 20px
}