* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Lao', sans-serif;
    font-family: 'Noto Serif Lao', serif;
    color: #747474;
}

.container-full{
    width: 100%;
    height: 100vh;
    /* display: grid;
    grid-template-rows: 90px 3fr 90px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.header{
    background-color: #F3E4E1;
    padding: 20px 0;
    box-shadow: #F3E4E1 0px 0px 8px;
    height: 14%;
}

.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
    padding: 0 20px;

}

.info p {
    font-size: 12px;
}
.social{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-link-items{
    display: flex;
    /* gap: 5px; */
    margin-top: 10px;
}

.nav-link-item{
    list-style: none;
    text-transform: uppercase;
    padding: 3px 20px;
    border-radius: 50px;
    font-size: 12px;
    transition: background-color .3s ease-out, color .3s ease-out;
    cursor: pointer;
}

.nav-link-item:hover{
    background-color: #8D7E77;
    color: white;
}

.nav-link-item.active{
    background-color: #8D7E77;
    color: white;
}

.nav-down{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #8D7E77;
    color: white;
    margin-right: 20px;
    position: relative;
    /* border-radius: 20px 20px 0 0; */
    /* overflow: hidden; */
}

.nav-down:hover{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #8D7E77;
    color: white;
    margin-right: 20px;
    position: relative;
    border-radius: 15px 15px 0 0;
    
}

.nav-down i {
    color: white;
    transition: transform .3s ease-out;

}

.nav-down:hover .nav-down-icon {
    transform: rotate(-180deg);
}

.sub-items{
    position: absolute;
    padding: 10px;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    transition: transform .3s ease-out, opacity .3s ease-out, visibility .3s ease-out;
    transform: translateY(-10%);
    opacity: 0;
    visibility: hidden;
}

.nav-down:hover .sub-items{
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
}

.sub-item{
    list-style: none;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-item:nth-child(2n){
    border-top: 2px solid #F3F3F3;
    border-bottom: 2px solid #F3F3F3;
}

.sub-items i {
    color: #8D7E77;
    text-align: end;
}

/* End header */

/* Start Banner */
.banner{
    display: flex;
    height: 76%;
    width: 100%;
    background-color: #FAF2F0;
    background-image: url('./assets/image-2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 250px;
}

.banner-image{
    width: 60%;
    height: 100%;
}

.banner-image img{
    height: 100%;
    width: 100%;
}

.banner-contact{
    width: 40%;
    padding: 60px;
}

.banner-contact h1 {
    font-size: 62px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.banner-contact h1 span {
    color: #DAC6BF;
}

.banner-contact-btn{
    padding: 3px 10px;
    margin-top: 30px;
    border: 2px solid #8D7E77;
    border-radius: 20px;
    text-transform:capitalize
   
}

.banner-contact-btn .contact-icon{
    margin-left: 5px;
}

/* End Banner */

/* Start Footer */

footer{
    height: 10%;
    width: 100%;
    background-color: #F3E4E1;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer-left{
    display:flex;
    gap: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.footer-left-item{
    display: flex;
    align-items: center;
}

.footer-left i {
    font-size: 20px;
    margin-right: 5px;
}

.footer-center{
    font-size: 12px;
    text-transform: capitalize;
}

.footer-right{
    text-transform: capitalize;
    text-align: end;
    font-size: 12px;
}

.footer-right span{
    text-transform: uppercase;
}

/* Banner 2 */
.container-full-2{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(141,126,119,1) 0%, rgba(213,171,155,1) 80%);
}

.banner-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    width: 100%;
}


.banner-left-2{
    background-image: url('./assets/image-3.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.banner-right-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-2{
    color: #FFFFFF;
    font-size: 62px;
    text-transform: uppercase;
}

.banner-title{
    font-size: 62px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.banner-title span{
    color: #F1E2DF;
}

.banner-social{
    display: flex;
    gap: 20px;
}
.banner-social-icon-2{
    color: #F1E2DF;
    font-size: 18px;
}

.footer-2{
    border-top: 2px solid #DAC6BF;
   
}

.container-2{
    padding: 20px 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.container-2 p {
    color: #FFFFFF;
}

.container-2 p span{
    color: #FFFFFF;
    text-transform: uppercase;
}